# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/mikhararamsing/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
# Read your api key environment variable
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
api_key = os.getenv("news_api")

In [4]:
# Create a newsapi client
from newsapi.newsapi_client import NewsApiClient
newsapi = NewsApiClient(api_key=api_key)

### Note the free news api only pulls 20 articles per a page and for a total of 5 pages. Hence had to pull 5 times and join into 1 df with 100 articles.

In [39]:
# Fetch the Bitcoin news articles
btc_articles_1 = pd.DataFrame(newsapi.get_everything(q="bitcoin", language="en", sort_by="relevancy", page = 1))
btc_articles_2 = pd.DataFrame(newsapi.get_everything(q="bitcoin", language="en", sort_by="relevancy", page = 2))
btc_articles_3 = pd.DataFrame(newsapi.get_everything(q="bitcoin", language="en", sort_by="relevancy", page = 3))
btc_articles_4 = pd.DataFrame(newsapi.get_everything(q="bitcoin", language="en", sort_by="relevancy", page = 4))
btc_articles_5 = pd.DataFrame(newsapi.get_everything(q="bitcoin", language="en", sort_by="relevancy", page = 5))

#btc_articles["articles"][0]

In [40]:
btc_articles = pd.concat([btc_articles_1, btc_articles_2, btc_articles_3, btc_articles_4, btc_articles_5])

In [41]:
btc_articles.head()

  status  totalResults                                           articles
0     ok         11443  {'source': {'id': 'engadget', 'name': 'Engadge...
1     ok         11443  {'source': {'id': None, 'name': 'Gizmodo.com'}...
2     ok         11443  {'source': {'id': 'mashable', 'name': 'Mashabl...
3     ok         11443  {'source': {'id': 'bbc-news', 'name': 'BBC New...
4     ok         11443  {'source': {'id': None, 'name': 'Gizmodo.com'}...

In [45]:
# Fetch the Ethereum news articles
eth_articles_1 = pd.DataFrame(newsapi.get_everything(q="ethereum", language="en", sort_by="relevancy", page = 1))
eth_articles_2 = pd.DataFrame(newsapi.get_everything(q="ethereum", language="en", sort_by="relevancy", page = 2))
eth_articles_3 = pd.DataFrame(newsapi.get_everything(q="ethereum", language="en", sort_by="relevancy", page = 3))
eth_articles_4 = pd.DataFrame(newsapi.get_everything(q="ethereum", language="en", sort_by="relevancy", page = 4))
eth_articles_5 = pd.DataFrame(newsapi.get_everything(q="ethereum", language="en", sort_by="relevancy", page = 5))
#eth_articles["articles"][0]

In [46]:
eth_articles = pd.concat([eth_articles_1, eth_articles_2, eth_articles_3, eth_articles_4, eth_articles_5])

In [42]:
# Create the Bitcoin sentiment scores DataFrame
btc_sentiments = []

for article in btc_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        btc_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass

In [43]:
# Create DataFrame
btc_df = pd.DataFrame(btc_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
btc_df = btc_df[cols]

btc_df.head()

,date,text,compound,positive,negative,neutral
0,2021-06-09,El Salvador's President Nayib Bukele has made ...,0.8402,0.282,0.0,0.718
1,2021-06-09,El Salvador has become the first country in th...,0.1280,0.043,0.0,0.957
2,2021-06-14,"It's all about clean energy, it seems. \r\nElo...",0.6908,0.169,0.0,0.831
3,2021-06-09,image captionThe move means bitcoin will be ac...,0.2732,0.060,0.0,0.940
4,2021-06-11,"Several crypto fans that descended on Miami, F...",0.5574,0.107,0.0,0.893

In [44]:
btc_df.shape

(100, 6)

In [47]:
# Create the Ethereum sentiment scores DataFrame
eth_sentiments = []

for article in eth_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10]
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        eth_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass

In [48]:
# Create DataFrame
eth_df = pd.DataFrame(eth_sentiments)

# Reorder DataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
eth_df = eth_df[cols]

eth_df.head()

,date,text,compound,positive,negative,neutral
0,2021-06-17,TL;DR: The Cryptocurrency with Ethereum and So...,0.000,0.0,0.000,1.000
1,2021-06-20,It wasn't long ago that your average person ha...,-0.296,0.0,0.061,0.939
2,2021-05-31,A representation of virtual currency Ethereum ...,0.000,0.0,0.000,1.000
3,2021-06-10,This article was translated from our Spanish e...,-0.340,0.0,0.066,0.934
4,2021-06-03,This new mining feature is called 'Norton Cryp...,0.000,0.0,0.000,1.000

In [49]:
# Describe the Bitcoin Sentiment
btc_df.describe()

         compound    positive    negative     neutral
count  100.000000  100.000000  100.000000  100.000000
mean     0.020614    0.045770    0.037370    0.916870
std      0.367148    0.061596    0.048638    0.072323
min     -0.778300    0.000000    0.000000    0.718000
25%     -0.273200    0.000000    0.000000    0.871000
50%      0.000000    0.000000    0.000000    0.925000
75%      0.318200    0.082250    0.077000    1.000000
max      0.840200    0.282000    0.178000    1.000000

In [50]:
# Describe the Ethereum Sentiment
eth_df.describe()

         compound    positive    negative     neutral
count  100.000000  100.000000  100.000000  100.000000
mean     0.143060    0.061050    0.025210    0.913740
std      0.366463    0.068159    0.046986    0.078505
min     -0.750600    0.000000    0.000000    0.655000
25%      0.000000    0.000000    0.000000    0.865500
50%      0.089950    0.051500    0.000000    0.925500
75%      0.406800    0.097250    0.060000    1.000000
max      0.848100    0.290000    0.262000    1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: Interestingly, when we have a sample size of 20, Bitcoin has highest positive mean score of 0.07 vs Ethereum of 0.04. Yet, with a sample size of 100, we see Ethereum has the larger mean positive score of 0.06 vs Bitcoin at 0.04.

Q: Which coin had the highest compound score?

A: Ethereum has the far largest mean compound score of 0.14 vs Bitcoin at 0.02.

Q. Which coin had the highest positive score?

A: Ethereum and Bitcoin had very similar max positive scors of 0.29 and 0.28 respectively, wih Ethereum's being higher.

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [14]:
#nltk.download()

In [51]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [59]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
sw = set(stopwords.words('english'))
#sw

In [ ]:
# Expand the default stopwords list if necessary

In [60]:
# Complete the tokenizer function
def tokenizer(text):
    # Remove the stop words
    sw = set(stopwords.words('english'))
    # Remove the punctuation from text
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', article)
    # Create a tokenized list of the words
    words = word_tokenize(re_clean)
    # Lemmatize words into root words
    lem = [lemmatizer.lemmatize(word) for word in words]
    # Convert the words to lowercase
    output = [word.lower() for word in lem if word.lower() not in sw]
    return tokens

In [72]:
processed = tokenizer(btc_articles[text])
print(processed)

KeyError: 'Guggenheim co-founder Todd Morley is backing the development of a blockchain network tower in New York, he told Bloomberg TV on Monday evening.\xa0\r\nMorley, the chairman of blockchain project Overline N… [+2344 chars]'

In [63]:
# Create a new tokens column for Bitcoin
btc_df['tokens']=

In [ ]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [64]:
from collections import Counter
from nltk import ngrams

In [73]:
# Generate the Bitcoin N-grams where N=2
btc_counts = Counter(ngrams(#processed#, n=2))
print(dict(btc_counts))

NameError: name 'processed' is not defined

In [ ]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [ ]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

def word_counter(corpus): 
    # Combine all articles in corpus into one large string
    big_string = ' '.join(corpus)
    processed = tokenizer(big_string)
    top_10 = dict(Counter(processed).most_common(10))
    return pd.DataFrame(list(top_10.items()), columns=['word', 'count'])

In [ ]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [ ]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [74]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [ ]:
# Generate the Bitcoin word cloud
big_string = ' '.join(corpus)
input_words = tokenizer(big_string)

wc = WordCloud().generate(input_words)
plt.imshow(wc)

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [81]:
import spacy
from spacy import displacy

In [82]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [83]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [84]:
# Concatenate all of the Bitcoin text together
btc_text=btc_df['text']
btc_text.head()

0    El Salvador's President Nayib Bukele has made ...
1    El Salvador has become the first country in th...
2    It's all about clean energy, it seems. \r\nElo...
3    image captionThe move means bitcoin will be ac...
4    Several crypto fans that descended on Miami, F...
Name: text, dtype: object

In [85]:
btc_text.shape

(100,)

In [86]:
# Run the NER processor on all of the text
doc = nlp(btc_text)

# Add a title to the document
# YOUR CODE HERE!

TypeError: Argument 'string' has incorrect type (expected str, got Series)

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [ ]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!

In [ ]:
# List all Entities
# YOUR CODE HERE!

---